html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.header {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.form-signin {
  margin-top: 100px;
}

.title-of-app {
  text-decoration: none;
  color: black;
}

.title-of-app:hover {
  color: black;
}

.top-image-of-user {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .row {
    margin-top: 120px;
  }

  .form-signin {
    margin-top: 8px;
  }
}

.post-username {
  font-weight: lighter;
  text-align: center;
}

.post-username-a {
  text-decoration: none;
  color: black;
}

.post-username-a:hover {
  text-decoration: none;
  color: black;
}

.see-more {
  text-decoration: none;
  color: #666;
  line-height: 32px;
  margin-left: 16px;
}

.see-more:hover{
  color: #666;
  text-decoration: underline;
}

.see-post-image {
  width: 400px;
  height: 400px;
}

.see-post-content {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 24px;
}

.border-under-post {
  border-bottom: solid 1px #888;
  padding-bottom: 24px;
}

.post-comment {
  border-bottom: solid 1px #888;
  padding-bottom: 24px;
  padding-top: 24px;
}

.comment-author {
  color: #666;
  text-decoration: none;
}

.comment-author:hover {
  color: #666;
  text-decoration: none;
}

.see-post-author {
  text-decoration: none;
  color: #555;
}

.see-post-author:hover {
  text-decoration: none;
  color: #555;
}

.page-header {
  color: #555;
  font-weight: lighter;
}

.page-btn {
  width: 100px;
}

.following {
  margin: 12px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
}

.following:hover {
  text-decoration: none;
  color: black;
}

.user-image-small {
  width: 100px;
  border-radius: 50%;
}

.table {
  width: 76%;
  margin: auto;
}

.post-card {
  width: 94%;
  margin: 6px auto;
}

.post-image {
  width: 100%;
}

@media (min-width: 768px) {

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }

  .all-posts-area {
    margin-top: 64px;
  }

  .posts-area {
    width: 56%;
    margin-top: 0;
    margin-left: 10%;
  }

  .home-profile {
    width: 32%;
    position: fixed;
    top: 60px;
    right: 6%;
    background-color: #f8f9fa!important;
  }

  .table {
    width: 560px;
    margin: auto; 
  }

  .post-card {
    width: 100%;
    margin: 0;
  }

  .post-image {
    width: 100%;
  }
}

.searched-username {
text-decoration: none;
color: #666;
line-height: 32px;
margin-left: 8px;
font-size: 24px;
}

.searched-username:hover {
color: #666;
text-decoration: underline;
}

.like-button {
  color: rgb(255, 0, 106);
  font-size: 28px;
}

.good-count {
  font-size: 16px;
  line-height: 32px;
}