html {
  font-size: 14px;
  background-color: #f8f9fa;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .search-form {
    position: relative;
    left: -20%;
  }
}

.user-image-icon {
  width: 36px;
  height: 32px;
  border-radius: 50%;
}


.container {
  max-width: 960px;
}

.jumbotron {
  margin-bottom: 0;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f8f9fa;
}

footer p {
  margin-bottom: .25rem;
}

.header {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.form-signin {
  margin-top: 100px;
}

.title-of-app {
  text-decoration: none;
  color: black;
  font-family: Georgia, serif;
}

.title-of-app:hover {
  color: black;
  text-decoration: none;
}

.top-image-of-user {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .row {
    margin-top: 120px;
  }

  .form-signin {
    margin-top: 8px;
  }
}

.post-username-a {
  text-decoration: none;
  color: black;
}

.post-username-a:hover {
  text-decoration: none;
  color: black;
}

.see-more {
  text-decoration: none;
  color: #666;
  line-height: 32px;
  margin-left: 16px;
}

.see-more:hover{
  color: #666;
  text-decoration: underline;
}

.see-post-image {
  width: 400px;
  height: 400px;
}

.see-post-content {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 24px;
}

.border-under-post {
  border-bottom: solid 1px #888;
  padding-bottom: 24px;
}

.post-comment {
  border-bottom: solid 1px #888;
  padding-bottom: 24px;
  padding-top: 24px;
}

.comment-author {
  color: #666;
  text-decoration: none;
}

.comment-author:hover {
  color: #666;
  text-decoration: none;
}

.see-post-author {
  text-decoration: none;
  color: #555;
}

.see-post-author:hover {
  text-decoration: none;
  color: #555;
}

.page-header {
  color: #555;
  font-weight: lighter;
}

.page-btn {
  width: 100px;
}

.following {
  margin: 12px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
}

.following:hover {
  text-decoration: none;
  color: black;
}

.user-image-small {
  width: 100px;
  border-radius: 50%;
}

.table {
  width: 76%;
  margin: auto;
}

.post-card {
  width: 94%;
  margin: 6px auto;
}

.post-image {
  width: 100%;
}

@media (min-width: 768px) {

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }

  .all-posts-area {
    margin-top: 64px;
  }

  .posts-area {
    width: 56%;
    margin-top: 0;
    margin-left: 10%;
  }

  .home-profile {
    width: 32%;
    position: fixed;
    top: 60px;
    right: 6%;
    background-color: #f8f9fa!important;
  }

  .table {
    width: 560px;
    margin: auto; 
  }

  .post-card {
    width: 100%;
    margin: 0;
  }

  .post-image {
    width: 100%;
  }
}

.searched-username {
text-decoration: none;
color: #666;
line-height: 32px;
margin-left: 8px;
font-size: 24px;
}

.searched-username:hover {
color: #666;
text-decoration: underline;
}

.like-button {
  color: rgb(255, 0, 106);
  font-size: 28px;
}

.good-count {
  font-size: 16px;
  line-height: 32px;
}









/* post detailのコメントリストのためのcss */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');



.comment-card {
    position: relative;
    display: flex;
    padding: 20px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

.comment-media img {
    width: 60px;
    height: 60px
}

.reply a {
    text-decoration: none
}








/* followee_list.htmlのためのcss */

body{
  background-color: #f8f9fa!important
}
.p-4 {
  padding: 1.5rem!important;
}
.mb-0, .my-0 {
  margin-bottom: 0!important;
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}    

/* user-dashboard-info-box */
.user-dashboard-info-box .candidates-list .thumb {
  margin-right: 20px;
}
.user-dashboard-info-box .candidates-list .thumb img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.user-dashboard-info-box .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0;
}

.user-dashboard-info-box .candidates-list td {
  vertical-align: middle;
}

.user-dashboard-info-box td li {
  margin: 0 4px;
}

.user-dashboard-info-box .table thead th {
  border-bottom: none;
}

.table.manage-candidates-top th {
  border: 0;
}

.user-dashboard-info-box .candidate-list-favourite-time .candidate-list-favourite {
  margin-bottom: 10px;
}

.table.manage-candidates-top {
  min-width: 650px;
}

.user-dashboard-info-box .candidate-list-details ul {
  color: #969696;
}

/* Candidate List */
.candidate-list {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.candidate-list:hover {
  -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
  box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
  position: relative;
  z-index: 99;
}
.candidate-list:hover a.candidate-list-favourite {
  color: #e74c3c;
  -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
  box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
}

.candidate-list .candidate-list-image {
  margin-right: 25px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  border: none;
}
.candidate-list .candidate-list-image img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
}

.candidate-list-title {
  margin-bottom: 5px;
}

.candidate-list-details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0px;
}
.candidate-list-details ul li {
  margin: 5px 10px 5px 0px;
  font-size: 13px;
}

.candidate-list .candidate-list-favourite-time {
  margin-left: auto;
  text-align: center;
  font-size: 13px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
}
.candidate-list .candidate-list-favourite-time span {
  display: block;
  margin: 0 auto;
}
.candidate-list .candidate-list-favourite-time .candidate-list-favourite {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border: 1px solid #eeeeee;
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  font-size: 16px;
  color: #646f79;
}
.candidate-list .candidate-list-favourite-time .candidate-list-favourite:hover {
  background: #ffffff;
  color: #e74c3c;
}

.candidate-banner .candidate-list:hover {
  position: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  z-index: inherit;
}

.bg-white {
  background-color: #ffffff !important;
}
.p-4 {
  padding: 1.5rem!important;
}
.mb-0, .my-0 {
  margin-bottom: 0!important;
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.user-dashboard-info-box .candidates-list .thumb {
  margin-right: 20px;
}







/* messages.htmlのためのCSS */
body{margin-top:20px;}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}




/* tag_post_listのcss */

body{
  margin-top:20px;
  background:#eee;
}
.blog-page .single_post {
  -webkit-transition: all .4s ease;
  transition: all .4s ease
}

.blog-page .single_post .img-post {
  position: relative;
  overflow: hidden;
  max-height: 500px
}

.blog-page .single_post .img-post>img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: -webkit-transform .4s ease, opacity .4s ease;
  transition: transform .4s ease, opacity .4s ease;
  max-width: 100%;
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01)
}

.blog-page .single_post .img-post:hover img {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  opacity: .7;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .8s ease-in-out
}

.blog-page .single_post .img-post:hover .social_share {
  display: block
}

.blog-page .single_post .img-post .social_share {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: none
}

.blog-page .single_post .meta {
  list-style: none;
  padding: 0;
  margin: 0
}

.blog-page .single_post .meta li {
  display: inline-block;
  margin-right: 15px
}

.blog-page .single_post .meta li a {
  font-style: italic;
  color: #959595;
  text-decoration: none;
  font-size: 12px
}

.blog-page .single_post .meta li a i {
  margin-right: 6px;
  font-size: 12px
}

.blog-page .single_post h3 {
  font-size: 20px;
  line-height: 26px;
  -webkit-transition: color .4s ease;
  transition: color .4s ease
}

.blog-page .single_post h3 a {
  color: #242424;
  text-decoration: none
}

.blog-page .single_post p {
  font-size: 15px
}

.blog-page .single_post .blockquote p {
  margin-top: 0 !important
}

.blog-page .right-box .categories-clouds li {
  display: inline-block;
  margin-bottom: 5px
}

.blog-page .right-box .categories-clouds li a {
  display: block;
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  color: #242424
}

.blog-page .right-box .instagram-plugin {
  overflow: hidden
}

.blog-page .right-box .instagram-plugin li {
  float: left;
  overflow: hidden;
  border: 1px solid #fff
}

.blog-page .comment-reply li {
  margin-bottom: 15px
}

.blog-page .comment-reply li:last-child {
  margin-bottom: none
}

.blog-page .comment-reply li h5 {
  font-size: 18px
}

.blog-page .comment-reply li p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #777
}

.blog-page .comment-reply .list-inline li {
  display: inline-block;
  margin: 0;
  padding-right: 20px
}

.blog-page .comment-reply .list-inline li a {
  font-size: 13px
}

.page.with-sidebar.right .left-box {
  margin-right: -20px
}

@media (max-width: 414px) {
  .section.blog-page {
      padding: 20px 0
  }
  .blog-page .left-box .single-comment-box>ul>li {
      padding: 25px 0
  }
  .blog-page .left-box .single-comment-box ul li .icon-box {
      display: inline-block
  }
  .blog-page .left-box .single-comment-box ul li .text-box {
      display: block;
      padding-left: 0;
      margin-top: 10px
  }
}
.card {
  background: #fff;
  margin-bottom: 30px;
  transition: .5s;
  border: 0;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.card .body {
  font-size: 14px;
  color: #424242;
  padding: 20px;
  font-weight: 400;
}
.card .header {
  color: #424242;
  padding: 20px;
  position: relative;
  box-shadow: none;
}
.card .header h2 {
  font-size: 15px;
  color: #757575;
  position: relative;
}
.card .header h2:before {
  background: #a27ce6;
}
.card .header h2::before {
  position: absolute;
  width: 20px;
  height: 1px;
  left: 0;
  top: -20px;
  content: '';
}
.m-b-15 {
  margin-bottom: 15px;
}