{% extends 'base.html' %}
{% load static %}

{% block search %}
  <form class="d-flex" method="POST">

  </form>
{% endblock search %}


{% block content %}
  <section class="jumbotron text-center home-profile">
    <div class="container">
  
      {% if user.image %}
      <a href=""><img  class="top-image-of-user" src="{{ MEDIA_URL }}{{ user.image }}" alt=""></a>
      {% else %}
      <a href=""><img  class="top-image-of-user" src="{{ MEDIA_URL }}images/default-user-image.png" alt=""></a>
      {% endif %}
  
      <h1 class="jumbotron-heading">{{ user.username }}</h1>
      <p class="ff-layout">
        <a href="" class="following">フォロー</a>
        <a href="" class="following">フォロワー</a>
      </p>
      <p>
        <a href="{% url 'instagram:post' %}" class="btn btn-primary my-2">投稿</a>
        <a href="" class="btn btn-secondary my-2">友達を探す</a>
        <a href="" class="btn btn-secondary my-2">プロフィール</a>
      </p>
    </div>
    </section>
  
  <div class="all-posts-area">
    {% if object_list %}
    {% for post in object_list %}
    <div class="posts-area">
      <div class="card post-card mb-4 shadow-sm">
        <h5 class="post-username"><a href="{% url 'instagram:user_profile' pk=post.author.pk %}" class="post-username-a">{{ post.author }}</a></h5>
        <div>
          <img  src="{{ MEDIA_URL }}{{ post.image }}" class="post-image bd-placeholder-img card-img-top" >
          {% if post.text %}
          <p>{{ post.text }}</p>
          {% endif %}
          {% if post.tag%}
          <p>{{ post.tag }}</p>
          {% endif %}
        </div>
        <div class="card-body">
          <p class="card-text"></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a href="" style="text-decoration: none;"><span class="like-button">&#9825;</span></a>
                <a href="" style="text-decoration: none;"><span class="like-button">&hearts;</span></a>
                <p class="good-count">{{ post.like_count }}件のいいね</p>
              <a href="" class="see-more">もっと見る</a>
            </div>
            <small class="text-muted"></small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>投稿はありません</p>
    {% endif %}
  </div>
  
  {% endblock content %}