{% extends 'base.html' %}

{% block content %}
{% if form.errors %}
<p>ユーザーID、パスワードが一致しません</p>
{% endif %}
<form method='POST' class="form-signin">
    <h1 class="page-header">ログイン</h1>
    <p>投稿、コメント、いいねするにはログインが必要です</p>
    <dl>
      {% csrf_token %}
      <h4>ユーザーネーム</h4>
      {{ form.username }}
      {{ form.username.errors }}
      <h4>パスワード</h4>
      {{ form.password }}
      {{ form.password.errors }}
    </dl>
    <button class="btn btn-primary" type="submit">ログイン</button>
  <p class="login-to-signup">
    <a href="{% url 'users:signup' %}">新規登録はこちら</a>
  </p>
</form>
{% endblock content %}