{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="content" style="margin-top: 64px;">
    <div class="container p-0">

		<h1 class="h3 mb-3">Messages</h1>

		<div class="card">
			<div class="row g-0" style="margin-top: 0;">
				<div class="col-12 col-lg-5 col-xl-3 border-right">

					<div class="px-4 d-none d-md-block">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1">
								<form method="GET" action="{% url 'instagram:message_list' %}">
									<input class="form-control my-3" type="text" placeholder="Search" aria-label="Search" value="{{ request.GET.query }}" name="query">
								</form>
							</div>
						</div>
					</div>

          {% if reccomended_users %}
						{% for user in reccomended_users %}
						<a href="{% url 'instagram:messages' pk=user.pk %}" class="list-group-item list-group-item-action border-0">
						<div class="d-flex align-items-start">
						{% if user.user_image %}
						<img src="{{ MEDIA_URL }}{{ user.user_image }}" class="rounded-circle mr-1" width="40" height="40">
						{% else %}
						<img src="{{ MEDIA_URL }}images/default-user-image.png" class="rounded-circle mr-1" width="40" height="40">
						{% endif %}
						<div class="flex-grow-1 ml-3">
						{{ user.username }}
						{% if user.name %}
						<div class="small">{{ user.name }}</div>
						{% endif %}
						</div>
						</div>
						</a>
						{% endfor %}
					{% else %}
						<p>フォローしているユーザーがいません</p>
					{% endif %}

					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>

				<div class="col-12 col-lg-7 col-xl-9">
                    
					<div class="py-2 px-4 border-bottom d-none d-lg-block">
							<div class="d-flex align-items-center py-1">
									<div class="position-relative">
											{% if to_user.user_image %}
											<img src="{{ MEDIA_URL }}{{ to_user.user_image }}" class="rounded-circle mr-1" width="40" height="40">
											{% else %}
											<img src="{{ MEDIA_URL }}images/default-user-image.png" class="rounded-circle mr-1" width="40" height="40">
											{% endif %}
									</div>
							<div class="flex-grow-1 pl-3">
              <strong>{{ to_user.username }}</strong>
							</div>
						</div>
					</div>
                    
					<div class="position-relative">
            <div class="chat-messages p-4">
                            
              {% for message in object_list %}
							<div class="chat-message-right pb-4">
								<div>
									{% if message.from_user.user_image %}
										{% if message.from_user == request_user %}
										<img src="{{ MEDIA_URL }}{{ message.from_user.user_image }}" class="rounded-circle mr-1" width="40" height="40">
										{% else %}
										<img src="{{ MEDIA_URL }}{{ message.from_user.user_image }}" class="rounded-circle mr-1" width="40" height="40">
										{% endif %}
									{% else %}
									<img src="{{ MEDIA_URL }}images/default-user-image.png" class="rounded-circle mr-1" width="40" height="40">
                  {% endif %}
									<div class="text-muted small text-nowrap mt-2">{{ message.created_at}}</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                  {% if message.from_user == request_user %}
									<div class="font-weight-bold mb-1">You</div>
                  {% else %}
                  <div class="font-weight-bold mb-1">{{ message.from_user.username }}</div>
                  {% endif %}
									{{ message.text }}
								</div>
							</div>
              {% endfor %}
						</div>
						<div class="col-6 offset-3 justify-content-center">
							{% if is_paginated %}
									{% include 'pagination.html' %}
							{% endif %}
						</div>
					</div>
                    
					<div class="flex-grow-0 py-3 px-4 border-top">
						<div class="input-group">
						<form method="POST" class="input-group">
								{% csrf_token %}
								{{ message_form }}
								<button type="submit" class="btn btn-primary">送信</button>
							</form>
						</div>
					</div>
                    
				</div>
			</div>
          </div>
		</div>
	</div>
</main>

{% endblock content %}