{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="jumbotron text-center home-profile">
  <div class="container">
    {% if request_user.image %}
    <a href=""><img  class="top-image-of-user" src="{{ MEDIA_URL }}{{ user.image }}" alt=""></a>
    {% else %}
    <a href=""><img  class="top-image-of-user" src="{{ MEDIA_URL }}images/default-user-image.png" alt=""></a>
    {% endif %}
    <h1 class="jumbotron-heading">{{ request_user.username }}</h1>
    {% if request_user.name %}
    <h4>{{ request_user.name }}</h4>
    {% endif %}
    <p class="ff-layout">
      <a href="" class="following">フォロー</a>
      <a href="" class="following">フォロワー</a>
    </p>
    <p>
      <a href="{% url 'instagram:post' %}" class="btn btn-primary my-2">投稿</a>
      <a href="" class="btn btn-secondary my-2">友達を探す</a>
      {% if request_user.is_authenticated %}
      <a href="{% url 'instagram:user_profile' pk=user.pk %}" class="btn btn-secondary my-2">プロフィール</a>
      {% endif %}
    </p>
  </div>
</section>

<section class="jumbotron text-center all-posts-area" style="background-color: #f8f9fa;">
  <div class="container posts-area">
    <div class="card post-card mb-4 shadow-sm">
      <h5><a href="" class="see-post-author">{{ object.author }}</a></h5>
      <img  src="{{ MEDIA_URL }}{{ object.image }}" class="bd-placeholder-img card-img-top">
      <p class="see-post-content">{{ object.text }}</p>
      <p class="see-post-content">{{ object.date_posted }}</p>
      <p class="border-under-post">
        <a href="{% url 'instagram:like_post' pk=object.pk %}" style="text-decoration: none;"><span class="like-button">&#9825;</span></a>
        <a href="{% url 'instagram:like_post' pk=object.pk %}" style="text-decoration: none;"><span class="like-button">&hearts;</span></a>
        <p class="good-count">{{ object.like_count }}件のいいね</p>
        {% if request_user == object.author %}
        <a href="" class="see-more">投稿の削除</a>
        <a href="" class="see-more">編集</a>
        {% else %}
        {% endif %}
        <a href="{% url 'instagram:comment_to_post' pk=object.pk %}" class="see-more">コメントする</a>
        </p>
    </div>

      {% if comments %}
      {% for comment in comments %}
      <div class='post-comment'>
        <h5><a href="" class="comment-author">{{ comment.author }}</a></h5>
        <p>{{ comment.text }}</p>
        {% if request_user == comment.author %}
           <a href="" class="see-more">削除</a>
        {% endif %}
      </div>
      {% endfor %}
    {% else %}
    <p>コメントはありません</p>
    {% endif %}
  </div>
</section>

{% endblock content %}