{% extends 'base.html' %}
{% load static %}
{% load templates_func %}
{% block content %}

<div class="container blog-page">
    <div class="row clearfix" style="margin-top: 0;">
        <h3 style="margin: 16px;">{{ user.username }}さんへのおすすめの投稿</h3>
        {% if object_list %}
        {% for post in object_list %}
        <div class="col-lg-4 col-md-12">
          <div class="card single_post">
            <div class="body" style="padding: 0; margin:0 auto;">
                <div class="img-post m-b-15" style="margin: 0 auto;">
                    <img src="{{ MEDIA_URL }}{{ post.image }}" alt="Awesome Image">
                </div>

                <div class="card-body">
                  <p class="card-text"></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        {% if request_user|judge_likes:post %}
                          <a href="{% url 'instagram:like_post_from_reccomended_posts' pk=post.pk %}" style="text-decoration: none;"><span class="like-button">&hearts;</span></a>
                        {% else %}
                          <a href="{% url 'instagram:like_post_from_reccomended_posts' pk=post.pk %}" style="text-decoration: none;"><span class="like-button">&#9825;</span></a>
                        {% endif %}
                        <p class="good-count">{{ post.like_count }}件</p>
                        <a href="{% url 'instagram:comment_to_post' pk=post.pk %}" class="see-more">コメント
                        </a>
                        <a href="{% url 'instagram:post_detail' pk=post.pk %}" class="see-more">more</a>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>

            </div>
        </div>
        </div>
        {% endfor %}
        {% else %}
        <div>投稿がありません</div>
        {% endif %}
            
        <div class="col-6 offset-3 justify-content-center">
          {% if is_paginated %}
              {% include 'pagination.html' %}
          {% endif %}
        </div>
    </div>

</div>
{% endblock content %}
