{% extends 'base.html' %}
{% load static %}
{% load templates_func %}
{% block content %}
<section class="jumbotron text-center home-profile">
  <div class="container">

    {% if request_user.user_image %}
    <a href=""><img  class="top-image-of-user" src="{{ MEDIA_URL }}{{ request_user.user_image }}" alt=""></a>
    {% else %}
    <a href=""><img  class="top-image-of-user" src="{{ MEDIA_URL }}images/default-user-image.png" alt=""></a>
    {% endif %}

    <h1 class="jumbotron-heading">{{ request_user.username }}</h1>
    {% if request_user.name %}
    <h4>{{ request_user.name }}</h4>
    {% endif %}
    <p class="ff-layout">
      <a href="{% url 'instagram:followee_list' pk=request_user.pk %}" class="following">フォロー{{ followee }}人</a>
      <a href="{% url 'instagram:follower_list' pk=request_user.pk %}" class="following">フォロワー{{ follower }}人</a>
    </p>

    <p>
      <a href="{% url 'instagram:message_list' %}" class="btn btn-secondary my-2">メッセージ</a>
      <a href="{% url 'instagram:user_profile_update' pk=request_user.pk %}" class="btn btn-primary my-2">編集</a>
    </p>

    {% if request_user.text %}
      <p>
        {{ request_user.text }}
      </p>
    {% endif %}
    <p>
    <a href="" class="see-more">過去の投稿</a>
    {% if request_user == user_profile %}
    <a href="" class="see-more">いいねした投稿</a>
    {% endif %}
  </p>
  </div>
  </section>

  
  <div>
    <h3 style="margin: 16px auto 0; width:80%;">users</h3>
    <form method="GET" action="{% url 'instagram:search_friends' %}"  class="form-inline" style="width:80%; margin:0 auto;">
      <div class="form-group mb-2">
        <input type="text" class="form-control" value="{{ request.GET.query }}" name="search_friends" placeholder="search friends">
      </div>
      <input type="image" src="{{ MEDIA_URL }}app_images/search_icon.svg" alt="送信する" style="width: 20px;margin-left:8px;">
    </form>
    <div style="width: 76%;">
      {% if object_list %}
        <table class="table table-hover" style="width: 76%;">
          <tbody>
            {% for user in object_list%}
            <tr>
              {% if user.user_image %}
              <th scope="row"><img src="{{ MEDIA_URL }}{{ user.user_image }}" alt="" style="width: 32px; height:32px; border-radius: 50%;padding:0;"></th>
              {% else %}
              <th scope="row"><img src="{{ MEDIA_URL }}images/default-user-image.png" alt="" style="width: 32px; height:32px; border-radius: 50%;padding:0;"></th>
              {% endif %}
              <td style="padding: 0;">
                <a href="{% url 'instagram:user_profile' pk=user.pk %}" class="see-more" style="color: black;line-height:0;margin:0;">{{ user.username }}</a>
                {% if user|find_reccomended_user_follower:request_user %}
                  <p style="font-size: small;">followed by {{ user| find_reccomended_user_follower:request_user }} and {{ user|count_reccomended_user_follower:request_user }}others</p>
                {% endif %}
              </td>
              <td class="candidate-list-favourite-time text-center">
                {% if user == request_user %}
                <h5>you</h5>
                {% elif request_user|judge_following:user.followers %}
                <a href="{% url 'instagram:unfollow' pk=user.pk %}" class="btn btn-dark">フォロー中</a>
                {% elif not request_user|judge_following:user.followers %}
                <a href="{% url 'instagram:follow' pk=user.pk %}" class="btn btn-outline-dark">フォロー</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>ユーザーが見つかりません</p>
      {% endif %}
    </div>
</div>
{% endblock content %}