{% extends 'base.html' %}

{% block content %}
<form method='POST' enctype="multipart/form-data" class="form-signin">
    <h1 class="page-header">登録</h1>
    {% csrf_token %}
    <h4>ユーザーネーム</h4>
    {{ form.username }}
    {{ form.username.errors }}
    <h4>パスワード</h4>
    {{ form.password1 }}
    {{ form.password1.errors }}
    <h4>パスワード確認</h4>
    {{ form.password2 }}
    {{ form.password2.errors }}
    <button class="btn btn-primary" type="submit">ユーザー登録</button>
  <p class="login-to-signup">
    <a href="{% url 'users:login' %}">アカウントをお持ちの方ははこちら</a>
  </p>
</form>
{% endblock content %}