{% extends 'base.html' %}
{% load static %}
{% load templates_func %}
{% block content %}


<section class="jumbotron text-center" style="background-color: #f8f9fa; margin-top:0;">
    <div class="container d-flex">
      {% if first_post %}
      <div>
        <img  class="top-image-of-user" src="{{ MEDIA_URL }}{{ first_post.image }}" alt="">
      </div>
      {% else %}
      <div>
        <img  class="top-image-of-user" src="{{ MEDIA_URL }}app_images/hashtag.jpeg" alt="">
      </div>
      {% endif %}
  
      <div style="margin-left: 100px;">
        <h1 class="jumbotron-heading" style="margin: 0;">{{ tag.name }}</h1>
        <p>
          <h5 style="margin: 0;">{{ num_of_posts }}</h5>
          <p style="margin: 0;">posts</p>
        </p>
        {% if connected %}
            <a href="{% url 'instagram:unfollow_tag' pk=tag.pk %}" class="btn btn-dark">フォロー中</a>
          {% else %}
            <a href="{% url 'instagram:follow_tag' pk=tag.pk %}" class="btn btn-outline-dark">フォロー</a>
          {% endif %}
      </div>
    </div>
  </section>


<div class="container blog-page">
    <div class="row clearfix">
        
        {% if object_list %}
        {% for post in object_list %}
        <div class="col-lg-4 col-md-12">
          <div class="card single_post">
            <div class="body" style="padding: 0;">
              <h6><a href="{% url 'instagram:user_profile' pk=post.post.author.pk %}" class="see-more">{{ post.post.author }}</a></h6>
            </div>
            <div class="body" style="padding: 0; margin:0 auto;">
                <div class="img-post m-b-15" style="margin: 0 auto;">
                    <img src="{{ MEDIA_URL }}{{ post.post.image }}" alt="Awesome Image">
                </div>

                <div class="card-body">
                  <p class="card-text"></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        {% if request_user|judge_likes:post.post %}
                          <a href="{% url 'instagram:like_post' pk=post.post.pk %}" style="text-decoration: none;"><span class="like-button">&hearts;</span></a>
                        {% else %}
                          <a href="{% url 'instagram:like_post' pk=post.post.pk %}" style="text-decoration: none;"><span class="like-button">&#9825;</span></a>
                        {% endif %}
                        <p class="good-count">{{ post.post.like_count }}件</p>
                        <a href="{% url 'instagram:comment_to_post' pk=post.post.pk %}" class="see-more">コメント
                        </a>
                        <a href="{% url 'instagram:post_detail' pk=post.post.pk %}" class="see-more">more</a>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>

            </div>
        </div>
        </div>
        {% endfor %}
        {% else %}
        <div>投稿がありません</div>
        {% endif %}
            
        <div class="col-6 offset-3 justify-content-center">
          {% if is_paginated %}
              {% include 'pagination.html' %}
          {% endif %}
        </div>
    </div>

</div>
{% endblock content %}
