{% extends 'base.html' %}

{% block content %}


<div class="container blog-page">
    <div class="row clearfix">
        <div class="col-lg-4 col-md-12" style="margin-top: 20px;">


            <div class="card single_post">
                <div class="body">
                    <p>taniguchi</p>
                </div>
                <div class="body">
                    <div class="img-post m-b-15">
                        <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="Awesome Image">
                    </div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock content %}
