{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="jumbotron text-center home-profile">
  <div class="container">

    {% if user_profile.user_image %}
    <a href=""><img  class="top-image-of-user" src="{{ MEDIA_URL }}{{ user_profile.user_image }}" alt=""></a>
    {% else %}
    <a href=""><img  class="top-image-of-user" src="{{ MEDIA_URL }}images/default-user-image.png" alt=""></a>
    {% endif %}

    <h1 class="jumbotron-heading">{{ user_profile.username }}</h1>
    {% if user_profile.name %}
    <h4>{{ user_profile.name }}</h4>
    {% endif %}
    <p class="ff-layout">
      <a href="{% url 'instagram:followee_list' pk=user_profile.pk %}" class="following">フォロー{{ followee }}人</a>
      <a href="{% url 'instagram:follower_list' pk=user_profile.pk %}" class="following">フォロワー{{ follower }}人</a>
    </p>

    {% if request_user != user_profile %}
      {% if connected %}
      <a href="{% url 'instagram:unfollow' pk=user_profile.pk %}" class="btn btn-dark">フォロー解除</a>
      {% else %}
      <a href="{% url 'instagram:follow' pk=user_profile.pk %}" class="btn btn-outline-dark">フォロー</a>
      {% endif %}
    {% endif %}

    {% if request_user.pk == user_profile.pk %}
    <p>
      <a href="{% url 'instagram:user_profile_update' pk=request_user.pk %}" class="btn btn-primary my-2">編集</a>
    </p>
    {% else %}
    <p>
      <a href="{% url 'instagram:messages' pk=user_profile.pk %}" class="btn btn-outline-secondary my-2">メッセージを送る</a>
    </p>
    {% endif %}
    {% if user_profile.text %}
      <p>
        {{ user_profile.text }}
      </p>
    {% else %}
    {% endif %}
    <p>
    <a href="" class="see-more">過去の投稿</a>
    {% if request_user == user_profile %}
    <a href="" class="see-more">いいねした投稿</a>
    {% endif %}
  </p>
  </div>
  </section>




<div class="all-posts-area">
  {% if posts %}
  {% for post in posts %}
  <div class="posts-area">
    <div class="card post-card mb-4 shadow-sm">
      <h5><a href="{% url 'instagram:user_profile' pk=post.author.pk %}" class="post-username-a">{{ post.author }}</a></h5>
      <div>
        <img  src="{{ MEDIA_URL }}{{ post.image }}" class="post-image bd-placeholder-img card-img-top" >
        {% if post.text %}
        <p>{{ post.text }}</p>
        {% endif %}
        {% if post.tag%}
        <p>{{ post.tag }}</p>
        {% endif %}
      </div>
      <div class="card-body">
        <p class="card-text"></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
              <a href="" style="text-decoration: none;"><span class="like-button">&#9825;</span></a>
              <a href="" style="text-decoration: none;"><span class="like-button">&hearts;</span></a>
              <p class="good-count">{{ post.like_count }}件のいいね</p>
              <a href="{% url 'instagram:comment_to_post' pk=post.pk %}" class="see-more">コメントする</a>
              <a href="{% url 'instagram:post_detail' pk=post.pk %}" class="see-more">もっと見る</a>
          </div>
          <small class="text-muted"></small>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p>投稿はありません</p>
  {% endif %}
</div>
{% endblock content %}