{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    {% if user.user_image%}
    <img  class="top-image-of-user" src="" alt="">
    {% endif %}
    <h1 class="jumbotron-heading">{{ user.username }}</h1>
    <p class="ff-layout">
      <a href="" class="following">フォロー</a>
      <a href="" class="following">フォロワー</a>
    </p>
  </div>
  {% if request_user.pk == user.pk %}
    <p>
      <a href="" class="btn btn-primary my-2">編集</a>
    </p>
  {% endif %}
  {% if user.text %}
    <p>
      {{ user.text }}
    </p>
  {% else %}
  {% endif %}
  <p>
    <a href="" class="see-more">過去の投稿</a>
    <a href="" class="see-more">いいねした投稿</a>
  </p>
</section>

{% if object_list %}
  {% for object in object_list %}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <h5 class="post-username"><a href="" class="post-username-a">{{ object.author }}</a></h5>
      <div class="col-lg-2 offset-lg-2">
        {% if object.user_image %}
        <img  src="" class="bd-placeholder-img card-img-top" style="width:240px; height:240px;" >
        {% endif %}
      </div>
      <div class="card-body">
        <p class="card-text">{{ object.text }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">

              <a href="" class="btn btn-sm btn-outline-danger">いいね:</a>

              <a href="" class="btn btn-sm btn-outline-danger">いいね:</a>

            <a href="" class="see-more">もっと見る</a>
          </div>
          <small class="text-muted">{{ object.post_date }}</small>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% else %}
  <p>投稿がありません</p>
{% endif %}
{% endblock content %}